body,
      html {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;

      }

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #333;
      }

      .logo {
        font-family: 'Orbitron', sans-serif;
        text-transform: uppercase;
        color: red;
        font-size: 24px;
      }

      .navigation {
        display: flex;
        align-items: center;
      }

      .navbar a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
      }

      .contact-button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .hero {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;
        overflow: hidden;
    }
    
    .hero-background-video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
    
    .hero-content {
        z-index: 1;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
    }


    @media screen and (min-width: 768px) {
        .hero {
            font-size: 1.5em;
        }
    }
    
    @media screen and (min-width: 992px) {
        .hero {
            font-size: 2em;
            padding: 100px 50px;
        }
    }
    

      .pricing {
        display: flex;
        justify-content: center;
        background-color: #f9f9f9;
        padding: 50px;
      }

      .pricing-card {
        background-color: white;
        padding: 20px;
        margin: 0 10px;
        text-align: center;
      }

      .contact-us {
        text-align: center;
        padding: 50px;
      }

      .before-after {
        display: flex;
        justify-content: center;
        padding: 50px;
      }

      .before-after img {
        max-width: 500px;
        margin: 0 10px;
      }

     .pricing-section, .detailed-pricing-section {
        background-color: #f9f9f9;
        padding: 30px;
      }


    
    /* Applying Montserrat Font to Navigation and Hero Section */
    .navbar, .hero {
        font-family: 'Montserrat', sans-serif;
    }

   


   


/* Gallery Section */
.gallery-section {
    padding: 50px 0;
    text-align: center;
  }
  
  .gallery-title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 50px;
  }
  
  .gallery-item {
    background-color: #f4f4f4;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  
  .gallery-item:hover {
    transform: scale(1.1);
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
  }
  
  .detailed-pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border: 1px solid #dddddd;
}

.detailed-pricing-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}

.detailed-pricing-table th,
.detailed-pricing-table td {
    padding: 12px 15px;
}

.detailed-pricing-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.detailed-pricing-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.detailed-pricing-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.pricing-title {
    text-align: center;
    margin-top: 1em;
}



.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif; 
}

.footer-column1, .footer-column2, .footer-column3 {
    flex: 1;
    padding: 0 20px;
}

.footer-logo {
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}

.footer-socials {
    margin-bottom: 20px;
}

.footer-socials a {
    color: white;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
}

.footer-copyright p {
    font-size: 12px;
}

.footer-column2 h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-address {
    margin-bottom: 10px;
}

.footer-address, .footer-careers {
    margin-bottom: 10px;
}

.footer-careers a {
    color: white;
    text-decoration: none;
}

.footer-careers a:hover {
    text-decoration: underline;
}