body,
      html {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;

      }

      .bg--dark {
        background-color: #202020;
      
      }

      .service-text{
        font-weight: 400;
      
      }
      .logo {
        font-family: 'Orbitron', sans-serif;
        text-transform: uppercase;
       
      }
     
    .video-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
      #mobile-menu {
        transform: translateY(-110%);
        transition: transform 0.6s ease-in-out;
        z-index: 10; /* lower z-index than navbar */
      }

      #mobile-menu.open {
        transform: translateY(0);
      }

      nav {
        z-index: 20; /* higher z-index to stay above overlay */
        position: relative;
      }

      @keyframes slideInFromRight {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .title-slide-in {
        opacity: 0;
        animation: slideInFromRight 1s ease-out forwards;
      }

      .description-fade-in {
        opacity: 0;
        animation: fadeIn 1s ease-in 1.2s forwards; /* additional 1.2s delay */
      }

      .before-after-container {
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
      }

      .before-after-container img {
        width: 100%;
      }

      .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: url("public/img/Clean_Bike.webp") no-repeat;
        background-size: cover;
        cursor: ew-resize;
      }
   
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px; /* Center align the vertical bar with the scrubber */
   
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    cursor: ew-resize;
}

.scrubber {
    position: absolute;
    top: 50%;
    right: -12px; /* Half the width of the scrubber */
   
    transform: translateY(-50%);
    cursor: ew-resize;
}
.arrow-left {
    fill: #ff3385;
}

.arrow-right {
    fill: #5fb4e4;
}

      .before-text,
      .after-text {
        position: absolute;
        top: 10px;
        color: #fff;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
      }

      .before-text {
        right: 10px;
      }

      .after-text {
        left: 10px;
      }
    
    